@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-jomhuria: 'Jomhuria', serif; 
  --font-nunito: 'Nunito', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito), Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: var(--font-nunito), Arial, Helvetica, sans-serif;
}

.responsive-text {
  @apply text-xs sm:text-sm md:text-lg lg:text-xl;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .responsive-font-small {
    font-size: clamp(16px, 4vw + 1rem, 16px);
  }
  .responsive-font-medium {
    font-size: clamp(16px, 5vw + 1rem, 18px);
  }
  .responsive-font-large {
    font-size: clamp(16px, 6vw + 1rem, 21px);
  }

  @media (min-width: 640px) { /* Tablet */
    .responsive-font-small {
      font-size: clamp(20px, 3vw + 1rem, 20px)
    }
    .responsive-font-medium {
      font-size: clamp(20px, 4vw + 1rem, 22px);
    }
    .responsive-font-large {
      font-size: clamp(20px, 5vw + 1rem, 25px);
    }
  }

  @media (min-width: 1024px) { /* Desktop */
    .responsive-font-small {
      font-size: clamp(21px, 3vw + 1rem, 21px);
    }
    .responsive-font-medium {
      font-size: clamp(21px, 4vw + 1rem, 24px);
    }
    .responsive-font-large {
      font-size: clamp(21px, 5vw + 1rem, 27px);
    }
  }
}

.bg-custom {
  background-image: url('/images/bg-small.jpg');
  background-size: cover;
  background-position: center;
}

/* Ảnh nền cho kích thước màn hình từ 768px trở lên */
@media (min-width: 768px) {
  .bg-custom {
    background-image: url('/images/bg-medium.jpg');
  }
}

/* Ảnh nền cho kích thước màn hình từ 1200px trở lên */
@media (min-width: 1200px) {
  .bg-custom {
    background-image: url('/images/bg-large.jpg');
  }
}

.header-gradient {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.logo-white {
  background-image: url('/images/logo-white.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px; /* Kích thước logo mặc định */
  height: 100px; /* Kích thước logo mặc định */
}

/* Đặt kích thước logo cho màn hình rộng hơn 768px */
@media (min-width: 768px) {
  .logo-white {
    width: 150px; /* Kích thước logo cho màn hình trung bình */
    height: 150px; /* Kích thước logo cho màn hình trung bình */
  }
}

/* Đặt kích thước logo cho màn hình rộng hơn 1200px */
@media (min-width: 1200px) {
  .logo-white {
    width: 200px; /* Kích thước logo cho màn hình lớn */
    height: 200px; /* Kích thước logo cho màn hình lớn */
  }
}
